<header id="header" class="header {{ (is_home ?: 'has-top-bar') }}" style="background-image: url({{ (post.thumbnail.src ?: Image(16)) }})">
  {% if not is_home %}
  <div class="header--top-bar">
    <div class="header--logo">
      <a class="header--link link-block" href="/">
        <img class="header--image"
        src="{{theme.link}}/assets/img/logo.png"
        srcset="{{theme.link}}/assets/img/logo@2x.png 2x"
        alt="3ème virage à gauche">
      </a>
    </div>
    <div class="header--nav">
      {% include 'Partials/Components/_nav.twig' with {'name': 'main', 'menu': menu.main} %}
    </div>
  </div>
  {% endif %}

  <div class="header--content">
    <h1 class="header--title">{{post.title}}</h1>
    <p class="header--subtitle">{{post.get_field('subtitle')}}</p>
  </div>
</header>
