<{{calendar__link ? 'a' : 'div'}} class="calendar__item {{calendar__link ? 'has-link'}}" {{calendar__link ? 'href="'~ calendar__link ~'"'}}>
    {% if calendar__nametoggle %}
      <p class="calendar__event">
        <span class="calendar__name">{{calendar__name}}</span>
        <span class="calendar__what">{{calendar__what}}</span>
      </p>
    {% endif %}
    <p class="calendar__when">
      <span class="calendar__date">{{calendar__date}}</span>
      <span class="calendar__time">{{calendar__time}}</span>
    </p>
    <p class="calendar__where">
      <span class="calendar__location">{{calendar__location}}</span>
      <span class="calendar__city">{{calendar__city}}</span>
    </p>
    <div class="calendar__link">
      {% if calendar__link %} <svg aria-hidden="true" focusable="false" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" class=""></path></svg> {% endif %}
    </div>
</{{calendar__link ? 'a' : 'div'}}>