<div class="honey-pot">
  <a href="{{link}}" class="honey-pot--link link-blok">
    <div class="honey-pot--thumbnail">
      <img class="honey-pot--image" src="{{ media.src|resize(200,200) }}" alt="{{media.alt}}" width="{{media.width}}" height="{{media.height}}"/>
    </div>
    <p class="honey-pot--title">{{title}}</p>
  </a>
</div>
